@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.bg-nav{
    background-color: #000;
}
nav h1 img{
    width: 70px;
}
.tituloPagina{
    color: #fff;
    font-size: 50px;
}
.btn-nav{
    background-color: #fff;
}
.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: right;
}
.nav-item{
    margin-top: 10px;
    margin-left: 25px;
    text-align: center;
}
.linkPagina{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}
.linkPagina:hover, .active{
    color: #000;
    border: 2px solid #fff;
    border-radius: 10%;
    background-color: #fff;
    transition: all 0.25s;
}
.jumbotron{
    border-radius: none;
    margin-bottom: 0;
    height: 897px
}
.inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 50%;
}
.inicio video{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.inicio .container{
    position: relative;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    width: 30%;
}
.inicio .container h1{
    font-size: 70px;
    font-weight: 800;
}
.inicio button{
    position: relative;
    border: 3px solid #fff;
    border-radius: 5%;
}
.inicio button a{
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
.inicio button a:hover{
    color: #000;
    transition: all 0.1s;
}